.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

.wrapper section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  grid-column: 1/-1;
  font-size: 1.2rem;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formItem label {
  font-size: 0.8rem;
  color: var(--quaternary-color);
}

.formItem input {
  font-size: 0.8rem;
  color: var(--quaternary-color);
  background-color: var(--quaternary-background);
  border: none;
  padding: 0.3rem;
}

.formItem input:focus {
  outline: none;
}

.itemWrapper {
  grid-column: 1/-1;
  display: flex;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 40%;
  gap: 2rem;
  padding: 0 1rem;
}

.itemWrapper img {
  height: 3rem;
}

.itemWrapper input {
  background-color: transparent;
  border: none;
  width: 2rem;
  color: white;
}

.stepper_input {
  display: flex;
  border: 1px solid #d1d5db;
  height: 1.5rem;
  
}

.stepper_input__button {
  background: #d1d5db;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1rem;
}

.stepper_input__input {
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

.stepper_input__input:focus {
  outline: none;
}

.price {
  flex-basis: 10%;
}

.itemWrapper svg {
  flex-basis: 5%;
}
