header {
  background-color: var(--theme-color);
  color: var(--gray-00);
}

.linkBar {
  display: flex;
  padding: 0 5vw;
  gap: 2rem;
  font-size: 0.8rem;
}

.linkBar a {
  color: var(--gray-15);
  text-decoration: none;
  font-family: 600;
}

.linkBar a:hover {
  text-decoration: underline;
}

.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

a.logo {
  color: var(--gray-00);
  font-size: 2rem;
  text-decoration: none;
}

.btns {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.btn {
  position: relative;
}

.btns svg {
  cursor: pointer;
}

.searchBar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--gray-75);
  padding: 0.1rem 0.5rem;
  width: 40%;
  position: relative;
}


.input {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  width: 100%;
}

.input:focus {
  outline: none;
}

.searchList {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--quaternary-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.searchList > li {
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.searchList > li:hover {
  background-color: var(--love-color);
}

.searchList li a {
  text-decoration: none;
  color: var(--primary-color);
}


@media all and (max-width: 700px){
  .linkBar {
    display: none;
  }

  .header {
    flex-wrap: wrap;
    height: fit-content;
  }
  .logo {
    flex-basis: 100%;
    text-align: center;
  }

  .searchBar {
    width: 100%;
  }
  .btns {
    width: 100%;
    justify-content: space-around;
  }
}

