.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.imgBox img {
    width: 80%;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.formBox {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.formBox h2{
    margin-bottom: 2rem;
}

.input{
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.input:focus {
    outline: none;
}

.btn {
    width: 100%;
    background-color: var(--selection-color );
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.password {
    display: flex;
    gap: 1rem;
}

.password input {
    flex-grow: 1;
}

.errors{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--danger-color);
}

.activeBtn {
    background-color: var(--success-background);
}

@media all and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .imgBox {
        display: none;
    }
}

