.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.imgBox img {
    width: 80%;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.formBox {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: relative;
}

.formBox h2{
    margin-bottom: 2rem;
}

.input{
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.input:focus {
    outline: none;
}

.btn {
    width: 100%;
    background-color: var(--selection-color );
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.activeBtn {
    background-color: var(--success-background);
}

.error{
    font-size: 0.8rem;
    color: var(--danger-color);
}

.successWrapepr {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.success {
    background-color: var(--success-background);
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--success-color);
    font-size: 2rem;
    box-shadow: 0 0 5rem 2rem var(--success-background);
    animation: success 2s ease ;
    overflow: hidden;
}

@keyframes success {
    0%{
        width: 0rem;
        height: 0rem;
        box-shadow: 0 0 5rem 0rem var(--success-background);
    }
    50%{
        width: 8rem;
        height: 8rem;
        box-shadow: 0 0 5rem 3rem var(--success-background);
    }
    100%{
        width: 5rem;
        height: 5rem;
        box-shadow: 0 0 5rem 2rem var(--success-background);
    }
}

@media all and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .imgBox {
        display: none;
    }
}