.wrapper {
  position: absolute;
  z-index: 10;
  background-color: var(--theme-color);
  color: var(--gray-00);
  min-width: 20rem;
  right: -2rem;
  padding: 1rem;
  box-shadow: 0 0 5px var(--blue-light-translucent);
}


.unlogined {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unlDesc {
    font-size: 0.6rem;
    color: var(--gray-45);
}

a.unlBtn {
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    background-color: var(--blue-light-translucent);
    margin-bottom: 1rem;
    cursor: pointer;
    color: var(--gray-00);
    text-decoration: none;
}


.userinfo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.userinfo img{
    width: 5rem;
}

.userData {
    flex-grow: 1;
}

.btn {
    width: 100%;
    background-color: var(--selection-color );
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: var(--gray-00);
    margin: 0.3rem 0;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: var(--success-background);
    color: var(--success-color);
}

